{% assign used_tech = "" | split: ' '  %}
{% if layout.techs %}
  {% for tech in layout.techs %}
    {% assign results = used_tech | where: "alt", tech.alt %}
    {% if results | size == 0 %}
      {% assign used_tech = used_tech | push: site.data.techs[tech]  %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if layout.techs_cat %}
  {% for catname in layout.techs_cat %}
    {% for cat in site.techs_cat %}
      {% assign down = cat.title | downcase %}
      {% if down == catname %}
        {% for tech in cat.techs %}
          {% assign results = used_tech | where: "alt", tech.alt %}
          {% if results | size == 0 %}
            {% assign used_tech = used_tech | push: site.data.techs[tech]  %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<footer>
  <div class="wrapper">
    <h4 class="title">{{ site.title | escape }}
    </h4>
    <div class="content-row">
      <ul class="contact-list">
        {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {% endif %}
        {% if site.github %}
          <li><a href="{{ site.github }}">{{ site.github }}</a></li>
        {% endif %}
      </ul><ul class="contact-list">
        {% if site.codepen %}
          <li><a href="{{ site.codepen }}">{{ site.codepen }}</a></li>
        {% endif %}
        {% if site.freeCodeCamp %}
          <li><a href="{{ site.freeCodeCamp }}">{{ site.freeCodeCamp }}</a></li>
        {% endif %}
      </ul>
      <p>{{ site.description | escape }}</p>
    </div>
    <div class="content-line">{% for credit in site.data.credits %}
      {% if credit[1].same-page == true %}
        {% assign render = credit[1].render %}
        {% assign args = credit[1].render-args %}
        {% assign render-url = 'credits/' | append: {{render}} | append: '.html' %}
        {% assign techs = used_tech | where: 'credits', credit[0] %}
        {% include {{render-url}} techs=techs args=args %}
      {% endif %}
    {% endfor %}</div>
  </div>
</footer>
