<a class="anchor" id="projects"></a>
<section>
  <h2 class="title">Projects</h2>
  <div class="content-figures">
  {% assign projects = site.projects| sort: 'creation-date'  | reverse %}{% for project in projects %}
    <figure>
      <figcaption>
        <h3>{{ project.title }}
          <small>{{ project.types | array_to_sentence_string}}</small>
          <small>{{ project.techs | array_to_sentence_string}}</small>
        </h3>
      </figcaption>
      {% if project.screenshots and project.screenshots.size > 0 %}
      <figure class="content-figures-item hover-list" style="background-image:url('/assets/projects/{{ project.screenshots[0] }}'")>
      {% else %}
      <figure class="content-figures-item hover-list" style="background-image:url('assets/projects/placeholder.svg'")>
      {% endif %}
        <div class="blurry is-hidden"></div>
        <div class="list is-hidden">
          {% assign tech = site.data.techs['info'] %} {% include tech-icon-link.html tech=tech link=project.url %}
          {% if project.github %} {% assign key='github' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.github %} {% endif %}
          {% if project.codepen %} {% assign key='codepen' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.codepen %} {% endif %}
          {% if project.live %} {% assign key='web' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.live %} {% endif %}
          {% if project.heroku %} {% assign key='heroku' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.heroku %} {% endif %}
        </div>
      </figure>
    </figure>
  {% endfor %}
  </div>
</section>
