<!-- Add icon from tech -->
{% assign tech = include.tech %}
{% if tech.icon %}
  <span class="tech-icon {{ tech.icon }}" title="{{ tech.alt }}"></span>
{% elsif tech.url %}
  <img src="{{ tech.url }}" title="{{ tech.alt }}" alt="{{ tech.alt }}" height="50" />
{% elsif tech.base64 %}
  <img {% if tech.class %} class="{{tech.class}}" {% endif %} title="{{ tech.alt }}" height="50" alt="{{ tech.alt }}" src="{{tech.base64}}" />
{% elsif tech.text %}
  <span title="{{ tech.alt }}">{{ tech.text }}</span>
{% endif %}
