<a class="anchor" id="techs"></a>
<section>
  <header>
    <hr/>
    <span class="fa fa-cogs"></span>
    <hr/>
  </header>
  <div class="content-figures">
  {% for catname in layout.techs_cat %} {% for category in site.techs_cat %} {% assign down = category.title | downcase %} {% if down == catname %}
    <figure>
      <figcaption>
        <h3>{{ category.header}}
          <small>{{ category.output }}</small>
        </h3>
      </figcaption>
      <div class="content-figures-item list">
        {% for name in category.techs %} {% assign tech = site.data.techs[name] %} {% include tech-icon-link.html tech=tech %} {% endfor %}
      </div>
    </figure>
  {% endif %} {% endfor %} {% endfor %}
  </div>
</section>
