/* todo separate content */

$spacing-unit: 70px !default;

body {
  position: relative;
  padding-top: 140px;
}

header {
  border-bottom: solid;
  border-bottom-color: grey;
  padding: 10px;
}

.header-nav {
  @extend .navbar, .navbar-fixed-top;

  background-color: white;
  border-bottom: solid;
  border-bottom-color: grey;
  padding: 10px;

  > div {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;

    :last-child {
      flex-grow: 1;
    }
  }
}
.brand {
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-collapsed-button {
  @extend .navbar-toggle;
  @extend .collapse;
  margin-left: auto;
  margin-right: 0;
}
.bar {
  @extend .icon-bar;
}
.nav-collapsable {
  > ul {
    width: 100%;
    padding: 5px 0;
    text-align: right;

    > li {
      display: inline-block;
      margin: 0 20px;

      > a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}
.drop-menu {
  @extend .dropdown;

  > button {
    @extend .btn, .btn-default, .dropdown-toggle;
  }
  > ul {
    @extend .dropdown-menu;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: $spacing-unit 0 $spacing-unit 0;

  small {
    display: block;
    margin: 20px;
  }
}

.content {
  width: 1000px;
  padding: 0;
  margin: $spacing-unit auto 0 auto;
}

.content-text {
  @extend .content;
  text-align: justify;
}

.content-line {
  @extend .content;
  text-align: center;
}

.content-row {
  @extend .content;
  @extend .container-fluid;

  > * {
    @extend .col-xs-12, .col-sm-6;
  }
}

.content-figure {
  > figcaption {
    border: 1px solid lightgrey;
    padding: 10px 10px 70px 10px;
    text-align: center;

    small {
      display: block;
      margin: 5px;
    }
  }
}
.content-figure-pic {
  top: -70px;
  position: relative;

  margin: 0 auto;
  width: 90%;
  height: 200px;
  box-sizing: border-box;
  position: relative;

  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  > img {
    padding: 1px;
    background-color: lightgrey;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurry {
  background-color: rgba(21,21,21,0.8);
  position: absolute;
}

.tech-icon {
  font-size: 36px;
  margin: 0 10px;
}

.screenshot {
  @extend .img-responsive;

  padding: 1px;
  background-color: lightgrey;
  margin: $spacing-unit auto;
}

footer {
  background-color: lightgrey;
  border-top: solid;
  border-top-color: grey;
  padding: 10px;
}

.is-hidden {
  display: none;
}
