---
layout: default
sections:
  - href: "#home"
    title: Home
  - href: "#techs"
    title: Techs
  - href: "#projects"
    title: Projects
author: html
---

<div class="home">
  <section id="techs">
    {% assign sorted = site.techs_cat | sort: 'order' %}
    {% for category in sorted %}
      <div>
        {% for name in category.techs %} {% assign tech = site.data.techs[name] %} {% include tech-icon-link.html tech=tech %} {% endfor %}
      </div>
      <hr/>
      {{ category.output }}
    {% endfor %}
  </section>

<!-- todo add icons without duplication with tech (include?) -->
  <section id="projects">
    {% for project in site.projects %}
      <figure class="project">
        {% if project.screenshots and project.screenshots.size > 0 %}
          <img class="img-responsive" src="/assets/projects/{{ project.screenshots[0] }}" alt="{{ project.title }}" />
        {% else %}
          <img class="img-responsive" src="/assets/projects/{{ project.screenshots[0] }}" alt="{{ project.title }}" />
        {% endif %}
        <div class="is-hidden blurry"></div>
        <figcaption class="is-hidden">
          <p>{{ project.title }}</p>
          <p>{{ project.types | array_to_sentence_string}}</p>
          <p>{{ project.techs | array_to_sentence_string}}</p>
          <p>
            {% assign tech = site.data.techs | map: 'github' %} {{tech.alt}}
            {% if project.github %} {% assign key='github' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.github %} {% endif %}
            {% if project.codepen %} {% assign key='codepen' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.codepen %} {% endif %}
            {% if project.live %} {% assign key='web' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.live %} {% endif %}
            {% if project.heroku %} {% assign key='heroku' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=project.heroku %} {% endif %}
          </p>
        </figcaption>
      </figure>
    {% endfor %}
  </section>

  {{ content }}

</div>
