---
layout: default
sections:
  - href: "#home"
    title: Home
  - href: "#techs"
    title: Techs
  - href: "#projects"
    title: Projects
author: html
---

<div class="home">
  <section id="techs">
    {% assign sorted = site.techs_cat | sort: 'order' %}
    {% for category in sorted %}
      <div>
        {% for name in category.techs %}
          {% assign tech = site.data.techs[name] %}
          {% if tech.icon %}
            <a href="{{ tech.link }}">
              <span class="tech-icon {{ tech.icon }}" title="{{ tech.alt }}"></span>
            </a>
          {% elsif tech.url %}
            <a href="{{ tech.link }}">
              <img src="{{ tech.url }}" title="{{ tech.alt }}" alt="{{ tech.alt }}" height="50" />
            </a>
          {% elsif tech.base64 %}
            <a href="{{ tech.link }}">
              <img {% if tech.class %} class="{{tech.class}}" {% endif %} title="{{ tech.alt }}" height="50" alt="{{ tech.alt }}" src="{{tech.base64}}" />
            </a>
          {% elsif tech.text %}
            <a href="{{ tech.link }}">
              <span title="{{ tech.alt }}">{{ tech.text }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <hr/>
      {{ category.output }}
    {% endfor %}
  </section>

<!-- todo add icons without duplication with tech (include?) -->
  <section id="projects">
    {% for project in site.projects %}
      <figure class="project">
        <img class="img-responsive" src="/assets/projects/{{ project.screenshots[0] }}" alt="{{ project.title }}" />
        <div class="is-hidden blurry"></div>
        <figcaption class="is-hidden">
          <p>{{ project.title }}</p>
          <p>{{ project.types | array_to_sentence_string}}</p>
          <p>{{ project.techs | array_to_sentence_string}}</p>
          <p>
            {% if project.github %}
              <a href="{{ project.github }}" ><span class="icon fa fa-github"></span>G</a>
            {% endif %}
            {% if project.codepen %}
              <a href="{{ project.codepen }}" ><span class="icon fa fa-codepen"></span>C</a>
            {% endif %}
            {% if project.live %}
              <a href="{{ project.live }}" ><span class="icon fa fa-globe"></span>W</a>
            {% endif %}
            {% if project.heroku %}
              <a href="{{ project.keroku }}" ><span class="icon fa fa-globe"></span>W</a>
            {% endif %}
          </p>
        </figcaption>
      </figure>
    {% endfor %}
  </section>

  {{ content }}

</div>
