---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>

	<h3>
		{{ page.types | array_to_sentence_string}}
	</h3>
	<h3>
		{{ page.techs | array_to_sentence_string}}
	</h3>

  {{ content }}

  <p>
		{% if page.github %}
			<a href="{{ page.github }}" ><span class="icon fa fa-github"></span>G</a>
		{% endif %}
		{% if page.codepen %}
			<a href="{{ page.codepen }}" ><span class="icon fa fa-codepen"></span>C</a>
		{% endif %}
		{% if page.live %}
			<a href="{{ page.live }}" ><span class="icon fa fa-globe"></span>W</a>
		{% endif %}
	</p>

	{% if page.screenshots %}
		{% for screenshot in page.screenshots %}
			<img class="img-responsive" src="/assets/projects/{{ screenshot }}" alt="{{ page.title }} screenshot" />
		{% endfor %}
	{% endif %}

</div>
