---
layout: default
techs: [github,codepen,web,heroku]
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}
    <small>
      {{ page.types | array_to_sentence_string}}
    </small>
    <small>
      {{ page.techs | array_to_sentence_string}}
    </small>
  </h1>

  {{ content }}

  <p>
    {% if page.github %} {% assign key='github' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=page.github %} {% endif %}
    {% if page.codepen %} {% assign key='codepen' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=page.codepen %} {% endif %}
    {% if page.live %} {% assign key='web' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=page.live %} {% endif %}
    {% if page.heroku %} {% assign key='heroku' %} {% assign tech = site.data.techs[key] %} {% include tech-icon-link.html tech=tech link=page.heroku %} {% endif %}
  </p>

  {% if page.screenshots %}
    {% for screenshot in page.screenshots %}
      <img class="img-responsive" src="/assets/projects/{{ screenshot }}" alt="{{ page.title }} screenshot" />
    {% endfor %}
  {% endif %}

</div>
